/* OMG WTH */

:root {
    --white: #FFFFFF;
    --black: #1B1B1B; 
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px; 
    background-color: var(--white);
    z-index: 1000;
    border-bottom: 1px solid #00000026;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 100%; 
    padding: 0 20px; 
    margin: 0 auto; 
}

.logo {
    width: 150px; 
    height: 50px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 30px; 
    line-height: 50px; 
    letter-spacing: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap; 
}

.logo a {
    color: inherit; /* Inherit color from parent */
    text-decoration: none; /* Remove underline */
}

nav {
    display: flex;
    padding: 1% 4%;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px; 
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li:nth-child(1) {
    margin-right: 61px; 
}

nav ul li:nth-child(2) {
    margin-right: 47px; 
}

nav ul li a {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: var(--black);
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--black);
    display: block;
    margin: auto;
    transition: width 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 999px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px; 
    overflow: hidden; 
}

.hero-image, .hero-image2, .hero-image3, .hero-image4, .hero-image5, .hero-image6 {
    position: absolute;
    width: 100%; 
    height: auto;
    object-fit: cover; 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    opacity: 0; 
    animation: fade 30s infinite; 
}
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/Home/homepagemain.jpg'); /* Add your image URL here */
}

.hero-image2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/Home/hero-2.jpg'); /* Add your image URL here */
    animation-delay: 5s; 
}

.hero-image3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/Home/hero-3.jpg'); /* Add your image URL here */
    animation-delay: 10s; 
}

.hero-image4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/Home/hero-4.jpeg'); /* Add your image URL here */
    animation-delay: 15s;
}

.hero-image5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/Home/hero-5.jpg'); /* Add your image URL here */
    animation-delay: 20s; 
}

.hero-image6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/Home/hero-6.jpg'); /* Add your image URL here */
    animation-delay: 25s; 
}

@keyframes fade {
    0% { opacity: 0; }
    16.66% { opacity: 1; }
    33.33% { opacity: 0; }
    100% { opacity: 0; }
}


.hero-text {
    position: absolute;
    width: 100%; 
    height: auto; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 140px;
    line-height: 210px;
    letter-spacing: 0%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column; 
    z-index: 2; 
}

.hero-subtext {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: var(--white);
    text-align: center;
    margin-top: 100px;
}

.new-collection-section {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    position: absolute;
    top: 1155px;
    left: 66px;
    width: 382px; 
    height: 144px; 
    padding: 20px;
    background-color: var(--white);
    color: var(--black); 
}

.new-collections-title {
    font-family: "Poppins", serif;
    font-size: 64px;
    line-height: 96px;
    letter-spacing: 0%;
    text-align: right;
    position: absolute;
    top: 1115px; 
    left: 1290px; 
    width: 394px; 
    height: 192px;
    padding: 20px;
}

.new-collections-title .new {
    font-weight: 700; 
}

.new-collections-title .collections {
    font-weight: 600;
}

.collection-images {
    position: absolute;
    top: 31px;
    left: 40px;
    display: flex;
    gap: 38px; 
    padding: 20px;
}

.collection-item {
    text-align: center;
    position: absolute;
}

.collection-image1, .collection-image2, .collection-image3 {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; 
}

.collection-image1:hover, .collection-image2:hover, .collection-image3:hover {
    transform: scale(1.05); 
}

.collection-image1 {
    width: 400px;
    height: auto; 
    position: absolute;
    top: 1331px;
    left: 26px; 
}

.collection-image2 {
    width: 430px;
    height: auto; 
    position: absolute;
    top: 1331px;
    left: 600px; 
}

.collection-image3 {
    width: 400px;
    height: auto; 
    position: absolute;
    top: 1331px;
    left: 1230px; 
}

.collection-text {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 22px; 
    position: absolute;
    top: 1632px; 
    white-space: nowrap;
}

.collection-text1 {
    left: 26px; 
    top: 1821px;
}

.collection-text2 {
    left: 600px; 
    top: 1871px;
}

.collection-text3 {
    left: 1230px; 
    top: 1831px;
}

.premium-collection-container {
    position: absolute;
    width: 714px;
    height: 96px;
    top: 2165px;
    left: 75px;
}

.premium-collection-title {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    letter-spacing: 0%;
    text-align: left;
}

.premium-collection-title .premium {
    font-weight: 700; 
}

.premium-collection-title .collections {
    font-weight: 600; 
}

.premium-collection-image {
    width: 1600px;
    height: 528px;
    position: absolute;
    top: 150px;
    left: 6px;
    object-fit: cover;
    filter: grayscale(100%);
    transition: transform 0.3s ease; 
}

.premium-collection-image:hover {
    transform: scale(1.05); 
}

.premium-collection-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: white; 
}

.hand-selected {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    position: absolute;
    width: 377px;
    height: 30px;
    top: 482px;
    left: 75px;
    text-transform: uppercase;
}

.le-classico {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0%;
    position: absolute;
    width: 569px;
    height: 72px;
    top: 496px;
    left: 75px;
    text-transform: uppercase;
}


.additional-image-container {
    position: absolute;
    width: 500px;
    height: 480px;
    margin-top: 20px; 
    object-fit: cover;
    filter: grayscale(100%);
}

.additional-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease; 
}

.additional-image:hover {
    transform: scale(1.05);
}

.additional-image-container-1 {
    top: 2850px;
    left: 82px;
}

.additional-image-container-2 {
    top: 2850px; 
    left: 635px;
}

.additional-image-container-3 {
    top: 2850px; 
    left: 1182px;
}

.additional-text {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
    margin-top: 22px;
    position: absolute;
    white-space: nowrap;
}

.additional-text1 {
    left: 0px; 
    top: 490px;
}

.additional-text2 {
    left: px; 
    top: 490px;
}

.additional-text3 {
    left: px; 
    top: 490px;
}

.wijaya-opus {
    position: absolute;
    top: 3700px; 
    left: 83px; 
    width: 1600px; 
    height: 803px; 
    background-color: var(--black); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wopus-image {
    position: relative;
    width: 1100px;
    height: 550px;
    top: 50px;
    object-fit: cover;  
}

.wijaya-opus-text {
    text-align: center;
    color: var(--white);
    margin-top: 90px; 
}

.wijaya-opus-title {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
}

.wijaya-opus-subtitle {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-decoration-skip-ink: auto;
    margin-top: 20px;
}

.wijaya-opus-link {
    color: inherit; 
    text-decoration: underline; 
}

.footer {
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    text-align: center;
    padding: 50px 0; 
    position: absolute;
    bottom: -4200px; 
    left: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-title {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 200px;
    line-height: 300px;
    letter-spacing: 0%;
    margin: 0;
}

.footer-subtitle {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin: 0;
}

.footer-link {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--white);
    text-decoration: underline;
    margin-left: 10px;
}

.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

@media screen and (max-width: 1440px) {
    html, body {
      max-width: 100%;
      overflow-x: hidden;
    }
    
    .hero-text {
      font-size: 100px;
      line-height: 150px;
    }
    
    .new-collection-section {
      position: relative;
      top: -250px;
      left: 0;
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }
    
    .new-collections-title {
      position: relative;
      top: -160px;
      left: 0;
      width: 100%;
      text-align: center;
    }
    
    .collection-images {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: -200px;
      left: 0;
      width: 100%;
    }
    
    .collection-item {
      position: relative;
      margin-bottom: 50px;
      width: 100%;
    }
    
    .collection-image1, .collection-image2, .collection-image3 {
      position: static;
      display: block;
      margin: 0 auto;
      max-width: 400px;
      width: 80%;
    }
    
    .collection-text1, .collection-text2, .collection-text3 {
      position: static;
      display: block;
      margin: 10px auto;
      text-align: center;
    }
    
    .premium-collection-container {
      position: relative;
      top: 200px;
      left: 0;
      width: 90%;
      margin: 0 auto;
      text-align: center;
    }

    .premium-collection-title {
      position: relative;
      top: -300px; 
      text-align: center; 
      z-index: 2;       
    }
    
    .premium-collection-image {
      position: relative;
      top: -250px;
      left: 0;
      width: 90%;
      margin: 0 auto;
      padding: 20px 0;
      height: 400px;
    }

    .premium-collection-image-container,
    .additional-image-container {
    margin-bottom: 40px;
  }
    
    .hand-selected, .le-classico {
      position: relative;
      top: 250px;
      left: 0;
      width: 90%;
      text-align: center;
      margin: 10px auto;
    }

    .hand-selected,
    .le-classico,
    .additional-text {
      display: none;
    }
    
    .additional-image-container-1,
    .additional-image-container-2,
    .additional-image-container-3 {
      position: relative;
      top: 350px;
      left: 0;
      width: 80%;
      margin: 30px auto;
      height: 400px;
    }
    
    .additional-text {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
    
    .wijaya-opus {
      position: relative;
      top: 400px;
      left: 0;
      width: 100%;
      padding: 40px 0;
    }
    
    .footer {
      position: relative;
      top: 450px;
      bottom: auto;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .hero-text {
      font-size: 80px;
      line-height: 120px;
    }
    
    .new-collections-title {
      font-size: 48px;
      line-height: 72px;
    }
    
    .premium-collection-title {
      font-size: 48px;
      line-height: 72px;
    }
    
    .footer-title {
      font-size: 120px;
      line-height: 180px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-text {
      font-size: 48px;
      line-height: 72px;
    }
    
    .hero-subtext {
      font-size: 16px;
      margin-top: 40px;
    }
    
    .new-collection-section {
      top: 30px;
      padding: 15px;
      font-size: 14px;
    }
    
    .new-collections-title {
      top: 60px;
      font-size: 36px;
      line-height: 54px;
    }
    
    .collection-images {
      top: 80px;
    }
    
    .collection-image1, .collection-image2, .collection-image3 {
      max-width: 300px;
    }
    
    .premium-collection-container {
      top: 120px;
      text-align: center;
      width: 100%;
      height: 250px;
      margin-bottom: 300px;
    }
    
    .premium-collection-title {
      font-size: 36px;
      top: 150px;
      line-height: 54px;
      text-align: center;
      width: 100%;
    }
    
    .premium-collection-image {
      top: 140px;
      height: 300px;
      margin-bottom: 20px;
    }

    .premium-collection-text {
        display: none; 
      }
    
    .hand-selected, .le-classico {
      top: 150px;
    }
    
    .hand-selected {
      font-size: 16px;
    }
    
    .le-classico {
      font-size: 30px;
      line-height: 45px;
    }
    
    .additional-image-container-1,
    .additional-image-container-2,
    .additional-image-container-3 {
      top: 180px;
      height: 250px;
      margin: 70px auto; 
    }
    
    .additional-text {
      display: none; 
    }
  
    .wijaya-opus {
      top: 200px;
    }
    
    .wopus-image {
      width: 90%;
      height: 300px;
    }
    
    .footer {
      top: 250px;
    }
    
    .footer-title {
      font-size: 60px;
      line-height: 90px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .hero-text {
      font-size: 36px;
      line-height: 54px;
    }
    
    .hero-section {
      height: 500px;
    }
    
    .hero-subtext {
      font-size: 14px;
      margin-top: 30px;
    }
    
    .new-collection-section {
      top: 20px;
      padding: 10px;
      font-size: 12px;
      line-height: 18px;
    }
    
    .new-collections-title {
      top: 40px;
      font-size: 24px;
      line-height: 36px;
    }
    
    .collection-images {
      top: 60px;
    }
    
    .collection-image1, .collection-image2, .collection-image3 {
      max-width: 250px;
    }
    
    .premium-collection-container {
      top: 80px;
    }
    
    .premium-collection-title {
      font-size: 24px;
      line-height: 36px;
    }
    
    .premium-collection-image {
      top: 100px;
      height: 200px;
    }
    
    .hand-selected {
      font-size: 14px;
      top: 110px;
    }
    
    .le-classico {
      font-size: 24px;
      line-height: 36px;
      top: 120px;
    }
    
    .additional-image-container-1 {
      top: 150px;
      height: 200px;
      margin-bottom: 70px;
    }
    
    .additional-image-container-2 {
      top: 250px;
      height: 200px;
      margin-top: 70px;
      margin-bottom: 70px;
    }
    
    .additional-image-container-3 {
      top: 350px;
      height: 200px;
      margin-top: 70px;
    }
    
    .wijaya-opus {
      top: 450px;
      padding: 20px 0;
    }
    
    .wopus-image {
      height: 180px;
    }
    
    .footer {
      top: 500px;
    }
    
    .footer-title {
      font-size: 36px;
      line-height: 54px;
    }
  }