body {
    font-family: 'Merriweather', 'Georgia', serif;
    line-height: 1.6;
    color: #f8f9fa; /* Change this to a lighter color */
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

section {
    border: 1px solid #666;
    padding: 20px;
    margin: 20px 0;
    background-color: #444;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    color: #f8f9fa; /* Add this line to change the text color in sections */
}

main {
    max-width: 700px;
    margin: 40px auto;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

article {
    margin: 40px 0;
    padding: 20px;
}

article h2 {
    margin-top: 0;
    color: #333;
    font-size: 1.5em;
}